@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Proza+Libre:wght@700&display=swap");

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  color: var(--font-color);
  background-color: #deeaee;
  text-align: center;
}

:root {
  --spacing-1: 8px;
  --spacing-2: 12px;
  --spacing-3: 16px;
  --spacing-4: 24px;

  --border-radius: 12px;

  --font-color: #323232;
}

.heart {
  color: red;
}

h1 {
  font-family: "Proza Libre", sans-serif;
  color: #6b5b95;
}

h2 {
  font-family: "Proza Libre", sans-serif;
  margin: 0;
  margin-bottom: var(--spacing-2);
  font-size: 18px;
}

h3 {
  font-family: "Proza Libre", sans-serif;
  margin: 0;
  margin-bottom: var(--spacing-2);
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0 var(--spacing-3);
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  align-items: center;
  padding: var(--spacing-3) 0;
}

.navigation-items {
  display: flex;
  list-style-type: none;
  padding: 0;
  align-items: center;
  margin: 0;
  margin-left: auto;
}

.navigation-item {
  margin: var(--spacing-1);
}

.portrait {
  width: 250px;
  height: 250px;
  border-radius: var(--border-radius);
  flex-shrink: 0;
}

.about-logos-container {
  text-align: center;
}

.about-logos {
  width: 130px;
  height: 130px;
  border-radius: var(--border-radius);
  flex-shrink: 0;
}

.hidden-photo {
  display: none;
}

.portrait-projects {
  width: 300px;
  border-radius: var(--border-radius);
  flex-shrink: 0;
  margin-left: 30em;
}

.about-me-container {
  display: flex;
}

.about-me-container-contact {
  text-align: center;
}

.about-me-text-container-home {
  /*margin-right: var(--spacing-3);*/
  font-size: 14px;
  padding: 1em;
  border-radius: 10px;
  border: 1px transparent solid;
  background-color: #eaece5;
}

.about-me-text-container-projects {
  font-size: 14px;
  padding: 1em;
  border-radius: 10px;
  border-radius: 10px;
  border: 1px transparent solid;
  background-color: #eaece5;
}

.about-me-text-container-customizations {
  font-size: 14px;
  padding: 1em;
  border-radius: 10px;
  border-radius: 10px;
  border: 1px transparent solid;
  background-color: #eaece5;
}

.about-me-text-container-skills {
  font-size: 14px;
  padding: 1em;
  border-radius: 10px;
  border-radius: 10px;
  border: 1px transparent solid;
  background-color: #eaece5;
}

.about-me-text-container-certificates {
  font-size: 14px;
  padding: 1em;
  border-radius: 10px;
  border-radius: 10px;
  border: 1px transparent solid;
  background-color: #eaece5;
}

.about-me-text-container-contact {
  font-size: 14px;
  padding: 1em;
  border-radius: 10px;
  border-radius: 10px;
  border: 1px transparent solid;
  background-color: #eaece5;
  text-align: center;
}

.about-me-text-container-curriculum {
  font-size: 14px;
  padding: 1em;
  border-radius: 10px;
  border-radius: 10px;
  border: 1px transparent solid;
  background-color: #eaece5;
  text-align: center;
}

.project {
  margin-bottom: 4em;
}

#projects {
  font-size: 14px;
  padding: 1em;
}

#projects-home {
  font-size: 14px;
  padding: 1em;
  border: 1px transparent solid;
  border-radius: 10px;
  background-color: #f0f0f0;
}

#projects-projects {
  font-size: 14px;
  padding: 1em;
  border: 1px transparent solid;
  border-radius: 10px;
  background-color: #f0f0f0;
  margin-bottom: 3em;
  text-align: center;
}

#projects-projects h2 {
  font-size: 22px;
}

#projects-projects h3 {
  font-size: 18px;
}

#projects-customizations {
  font-size: 14px;
  padding: 1em;
  border: 1px transparent solid;
  border-radius: 10px;
  background-color: #f0f0f0;
  margin-bottom: 3em;
  text-align: center;
}

.project-image {
  width: 50%;
  border-radius: 5px;
  border: solid 1px #87bdd8;
}

.home-project-picture {
  text-align: center;
}

.project-title h3 {
  display: inline;
}

details {
  cursor: pointer;
}

summary {
  list-style-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/7/right-arrow.svg);
}

section {
  padding: var(--spacing-3) 0;
}

.icon {
  font-size: 2em;
  color: var(--font-color);
  margin: 0 var(--spacing-1);
}

a {
  color: var(--font-color);
  text-decoration: none;
  font-weight: 600;
}

#logo {
  margin: 0;
}

#skills-home {
  margin-top: 0.5em;
  margin-left: 1.7em;
}

#skills-projects {
  margin-top: 0.5em;
  margin-left: 1.7em;
}

#skills-customizations {
  margin-top: 0.5em;
  margin-left: 1.7em;
}

#skills-skills {
  margin-top: 0.5em;
  margin-left: 1.7em;
}

#skills-certificates {
  margin-top: 0.5em;
  margin-left: 1.7em;
}

#skills-education {
  margin-top: 0.5em;
  margin-left: 1.7em;
}

#skills-contact {
  margin-top: 0.5em;
  margin-left: 1.7em;
}

#skills-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  color: #484848;
}

#skills-container > * {
  font-size: 1.5em;
  width: 2em;
  margin-top: var(--spacing-1);
}

.colored-link {
  color: #034f84;
  font-size: 16px;
}

.colored-link-header {
  color: #6b5b95;
  font-size: 18px;
}

.colored-link-header:hover {
  color: #034f84;
}

.colored-link:hover {
  color: #6b5b95;
}

.university .colored-link:hover {
  color: #6b5b95;
}

.skill-image {
  width: 50px;
}

table {
  border-collapse: collapse;
  border: 2px solid #034f84;
  border-radius: 10px;
  letter-spacing: 1px;
  font-size: 1rem;
  font-family: "Proza Libre", sans-serif;
  color: #deeaee;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 3), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

td, th {
  border: 1px solid rgb(190,190,190);
  padding: 10px 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 3), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

th {
  background-color: rgb(235,235,235);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 3), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

td {
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 3), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

tr:nth-child(even) td {
  background-color: #034f84;
}

tr:nth-child(odd) td {
  background-color: #034f84;
}

.cert-image {
  text-align: center;
  max-width: 700px;
  max-height: 800px;
  border: solid 1px #034f84;
  transition: transform .5s;
}

.pop {
  transition: transform 3s;
  border: solid 1px #034f84;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 3), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
  width: 600;
  height: 400;
}

.pop:hover {
  -ms-transform: scale(2.3, 2.3);
  -webkit-transform: scale(2.3, 2.3);
  transform: scale(2.3, 2.3);
}

/*.projectcard.webdevelopmentcard {
  background-color: #d4ac6e;
  border: solid 2px #7e4a35;
}*/

.projectcard.scholarships {
  background-color: #deeaee;
  border: solid 2px white;
}

.diploma-image {
  text-align: center;
  max-width: 700px;
  max-height: 800px;
  border: solid 1px #034f84;
  transition: transform .5s;
}
    
.cert-image:hover {
  -ms-transform: scale(1.7, 1.7);
  -webkit-transform: scale(1.7, 1.7);
  transform: scale(1.7, 1.7);
}

hr.divisor {
  border: 1px solid #92a8d1;
}

.projectcard {
  background-color: #92a8d1;
  border: solid 2px #034f84;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 50px;
  padding: 0.5em;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 3), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

.certificate-card {
  border: solid 2px white;
  background-color: #deeaee;
  margin: 3em;
  padding: 3em;
  border-radius: 5px;
}

.university {
  color: #034f84
}

.university:hover {
  color: #6b5b95;
}

.icon-image {
  max-width: 50px;
  max-height: 50px;
  border-radius: 5px;
}

img .pop.scholarship {
  max-width: 300px;
  max-height: 300px;
}

.contacts-card {
  border: solid 1px white;
}

footer {
  margin-top: 5px;
  padding: var(--spacing-2) 0;
  text-align: center;
  font-weight: bold;
  color: #454140;
}

#skills-container-out {
  margin-top: 10em;
}

.external {
  min-height: 310px;
  margin-bottom: 10px;
}


div.gallery {
margin: 5px;
/*border: 1px solid #ccc;*/
float: left;
width: 280px;
}

/*div.gallery:hover {
border: 1px solid #777;
}*/

div.gallery img {
width: 100%;
height: auto;
}

div.desc {
padding: 15px;
text-align: center;
}
.row .column {
  box-sizing: border-box;
}
.row {
  text-align: center;
}
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
  .row::after {
  content: "";
  clear: both;
  display: table;
}

.uni-logo-hidden {
  width: 150px; 
  height: auto; 
  border:none
}

.uni-logo-hidden-saint-thomas {
  width: 210px; 
  height: auto; 
  border:none
}

.uni-logo-hidden-lobachevsky {
  width: 130px; 
  height: auto; 
  border:none
}

.uni-logo-hidden-udacity {
  width: 180px; 
  height: auto; 
  border:none
}

@media only screen and (max-width: 1281px) {
  .about-me-text-container {
    font-size: 14px;
  }
  #projects {
    font-size: 14px;
  }
  h2 {
    font-size: 16px;
  }
  footer {
    font-size: 14px;
  }
  #skills-container {
    font-size: 0.8em;
  }
  h2 {
    font-size: 16px;
  }
  .portrait {
    width: 240px;
    height: 240px;
  }
  #skills {
    margin-top: 4em;
  }
  .uni-logo-hidden {
    width: 110px; 
    height: auto; 
    border:none
  }
  .uni-logo-hidden-saint-thomas {
    width: 210px; 
    height: auto; 
    border:none
  } 
  .uni-logo-hidden-lobachevsky {
    width: 110px; 
    height: auto; 
    border:none
  }
  .uni-logo-hidden-udacity {
    width: 180px; 
    height: auto; 
    border:none
  }
  .about-logos {
    width: 125px;
    height: 125px;
    border-radius: var(--border-radius);
    flex-shrink: 0;
  }
}

@media only screen and (max-width: 1025px) {
  .about-me-text-container {
    font-size: 10.5px;
  }
  #projects {
    font-size: 10.5px;
  }
  h2 {
    font-size: 16px;
  }
  footer {
    font-size: 10.5px;
  }
  #skills {
    margin-top: 3em;
  }
  #skills-container {
    font-size: 0.6em;
  }
  .portrait {
    width: 150px;
    height: 150px;
  }
  .uni-logo-hidden {
    width: 130px; 
    height: auto; 
    border:none
  }
  .uni-logo-hidden-saint-thomas {
    width: 230px; 
    height: auto; 
    border:none
  }
  .uni-logo-hidden-lobachevsky {
    width: 130px; 
    height: auto; 
    border:none
  }
  .uni-logo-hidden-udacity {
    width: 180px; 
    height: auto; 
    border:none
  }
  .about-logos {
    width: 125px;
    height: 125px;
    border-radius: var(--border-radius);
    flex-shrink: 0;
  }
}

@media only screen and (max-width: 947px) {
  #skills-container {
    font-size: 0.9em;
  }
  .cert-image {
    max-width: 670px;
  }
  .diploma-image {
    max-width: 670px;
  }
}

@media only screen and (max-width: 913px) {
  .about-me-text-container {
    font-size: 16px;
  }
  #projects {
    font-size: 16px;
  }
  h2 {
    font-size: 16px;
  }
  footer {
    font-size: 16px;
  }
  #skills-container {
    font-size: 1em;
  }
  .portrait {
    width: 150px;
    height: 150px;
  }
  #skills {
    margin-top: 39em;
  }
  div.gallery {
    margin: 5px;
    /*border: 1px solid #ccc;*/
    float: center;
    width: 100%;
    }
  div.gallery img {
    width: 80%;
    height: auto;
  }
  .column {
    float: left;
    width: 33.33%;
    padding: 1px;
  }
  .pop {
    transition: none !important;
    border: solid 1px #034f84;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 3), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
  }
  .pop:hover {
    -ms-transform: scale(0, 0);
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
  }
  table {
    font-size: 15px;
  }
  .about-logos {
    width: 120px;
    height: 120px;
    border-radius: var(--border-radius);
    flex-shrink: 0;
  }
}

@media only screen and (max-width: 905px) {
  table {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 900px) {
  .portrait {
    width: 250px;
    height: 250px;
  }
  .about-me-text-container {
    font-size: 16px;
  }
  #projects {
    font-size: 16px;
  }
  .cert-image {
    max-width: 650px;
  }
  .diploma-image {
    max-width: 650px;
  }
  .certificate-card {
    margin: 2.8em;
  }
}

@media only screen and (max-width: 871px) {
  .portrait {
    width: 240px;
    height: 240px;
  }
}

@media only screen and (max-width: 866px) {
  .cert-image {
    max-width: 630px;
  }
  .diploma-image {
    max-width: 630px;
  }
  .certificate-card {
    margin: 2.8em;
  }
}

@media only screen and (max-width: 842px) {
  .cert-image {
    max-width: 600px;
  }
  .diploma-image {
    max-width: 600px;
  }
}

@media only screen and (max-width: 838px) {
  #skills-container {
    font-size: 0.8em;
  }
}

@media only screen and (max-width: 821px) {
  .about-me-text-container {
    font-size: 16px;
  }
  #projects {
    font-size: 16px;
  }
  h2 {
    font-size: 16px;
  }
  footer {
    font-size: 16px;
  }
  #skills-container {
    font-size: 1em;
  }
  .portrait {
    width: 200px;
    height: 200px;
  }
  #skills {
    margin-top: 26em;
  }
  div.gallery {
    margin: 5px;
    /*border: 1px solid #ccc;*/
    float: center;
    width: 100%;
    }
  div.gallery img {
    width: 80%;
    height: auto;
  }
  .column {
    float: left;
    width: 33.33%;
    padding: 1px;
  }
  .pop {
    transition: none !important;
    border: solid 1px #034f84;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 3), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
  }
  .pop:hover {
    -ms-transform: scale(0, 0);
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
  }
  .about-logos {
    width: 100px;
    height: 100px;
    border-radius: var(--border-radius);
    flex-shrink: 0;
  }
  .about-logos {
    width: 105px;
    height: 105px;
    border-radius: var(--border-radius);
    flex-shrink: 0;
  }
}

@media only screen and (max-width: 815px) {
  .cert-image {
    max-width: 550px;
  }
  .diploma-image {
    max-width: 550px;
  }
}

@media only screen and (max-width: 805px) {
  .portrait {
    width: 220px;
    height: 220px;
  }
  .about-me-text-container {
    font-size: 16px;
    margin-top: 0em;
  }
  #projects {
    font-size: 16px;
  }
}

@media only screen and (max-width: 787px) {
  table {
    font-size: 0.7rem;
  }
  .portrait {
    width: 210px;
    height: 210px;
  }
}

@media only screen and (max-width: 769px) {
  #skills {
    margin-top: 15em;
  }
  .about-logos {
    width: 125px;
    height: 125px;
    border-radius: var(--border-radius);
    flex-shrink: 0;
  }
}

@media only screen and (max-width: 760px) {
  nav {
    font-size: 16px;
  }
  #skills-container {
    font-size: 0.7em;
  }
  .portrait {
    width: 210px;
    height: 210px;
  }
  .about-me-text-container {
    font-size: 16px;
  }
  .cert-image {
    max-width: 510px;
  }
  .diploma-image {
    max-width: 510px;
  }
  .certificate-card {
    margin: 2em;
  }
}

@media only screen and (max-width: 726px) {
  table {
    font-size: 0.6rem;
  }
  .cert-image {
    max-width: 510px;
  }
  .diploma-image {
    max-width: 510px;
  }
}

@media only screen and (max-width: 714px) {
  .about-me-text-container {
    font-size: 14px;
  }
  #projects {
    font-size: 14px;
  }
}

@media only screen and (max-width: 690px) {
  .portrait {
    width: 200px;
    height: 200px;
  }
  .cert-image {
    max-width: 450px;
  }
  .diploma-image {
    max-width: 450px;
  }
}

@media only screen and (max-width: 676px) {
  nav {
    font-size: 12px;
  }
  #skills-container {
    font-size: 0.6em;
  }
  .portrait {
    width: 180px;
    height: 180px;
  }
}

@media only screen and (max-width: 667px) {
  td, th {
    border: 1px solid rgb(190,190,190);
    padding: 2px 8px;
  }
  .about-me-text-container {
    font-size: 13px;
  }
  #projects {
    font-size: 13px;
  }
  main {
    font-size: 13px;
  }
}

@media only screen and (max-width: 630px) {
  .cert-image {
    max-width: 400px;
  }
  .diploma-image {
    max-width: 400px;
  }
}

@media only screen and (max-width: 600px) {
  #skills-container {
    font-size: 0.5em;
  }
  #logo {
    font-size: 2em;
  }
  nav {
    font-size: 14px;
    display: inline-block;
  }
  .cert-image {
    max-width: 380px;
  }
  .diploma-image {
    max-width: 380px;
  }
  .about-me-text-container {
    font-size: 12px;
  }
  #projects {
    font-size: 12px;
  }
}

@media only screen and (max-width: 587px) {
  .about-me-text-container {
    font-size: 12px;
  }
  #projects {
    font-size: 12px;
  }
}


@media only screen and (max-width: 565px) {
  td, th {
    border: 1px solid rgb(190,190,190);
    padding: 2px 5px;
  }
  .cert-image {
    max-width: 350px;
  }
  .diploma-image {
    max-width: 350px;
  }
  .certificate-card {
    margin: 2em;
  }
}

@media only screen and (max-width: 541px) {
  .about-me-text-container {
    font-size: 10px;
  }
  #projects {
    font-size: 10px;
  }
  h2 {
    font-size: 16px;
  }
  footer {
    font-size: 10px;
  }
  #skills-container {
    font-size: 0.7em;
  }
  .external {
    margin-left: 100px;
  }
  div.gallery {
    margin: 5px 0px 5px 0px;
    padding-left: 0.4em;
    /*border: 1px solid #ccc;*/
    float: center;
    width: 280px;
  }
  div.gallery img {
    width: 100%;
    height: auto;
  }
  .pop {
    transition: none !important;
    border: solid 1px #034f84;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 3), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
  }
  .pop:hover {
    -ms-transform: scale(0, 0);
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
  }
  .hidden-photo {
    display: block;
    margin-top: 2em;
  }
  .photo-container {
    display: flex;
    flex-direction: column;
    margin-top: 51%;
  }
  .portrait {
    width: 80px;
    height: 80px;
  }
  .uni-logo-hidden {
    width: 100px; 
    height: auto; 
    border:none
  }
  .uni-logo-hidden-saint-thomas {
    width: 100px; 
    height: auto; 
    border:none
  }
  .uni-logo-hidden-lobachevsky {
    width: 100px; 
    height: auto; 
    border:none
  }
  .uni-logo-hidden-udacity {
    width: 180px; 
    height: auto; 
    border:none
  }
  .portrait-hidden {
    display: none;
  }
  .about-logos {
    width: 80px;
    height: 80px;
    border-radius: var(--border-radius);
    flex-shrink: 0;
  }
}

@media only screen and (max-width: 532px) {
  .cert-image {
    max-width: 320px;
  }
  .diploma-image {
    max-width: 320px;
  }
  .certificate-card {
    margin: 2em;
  }
}

@media only screen and (max-width: 516px) {
  table {
    font-size: 0.4rem;
  }
}

@media only screen and (max-width: 510px) {
  .cert-image {
    max-width: 300px;
  }
  .diploma-image {
    max-width: 300px;
  }
  .certificate-card {
    margin: 2em;
  }
}

@media only screen and (max-width: 498px) {
  #skills-container {
    font-size: 0.4em;
  }
  #logo {
    font-size: 2em;
  }
  nav {
    font-size: 12px;
    display: inline-block;
  }
}

@media only screen and (max-width: 479px) {
  .cert-image {
    max-width: 280px;
  }
  .diploma-image {
    max-width: 280px;
  }
  .certificate-card {
    margin: 2em;
  }
}

@media only screen and (max-width: 460px) {
  #skills-container {
    font-size: 0.4em;
  }
  #logo {
    font-size: 2.5em;
  }
  nav {
    font-size: 10px;
    display: inline-block;
  }
  .cert-image {
    max-width: 250px;
  }
  .diploma-image {
    max-width: 250px;
  }
  .certificate-card {
    margin: 2em;
  }
}

@media only screen and (max-width: 430px) {
  .cert-image {
    max-width: 200px;
  }
  .diploma-image {
    max-width: 200px;
  }
  .certificate-card {
    margin: 2em;
  }
}

@media only screen and (max-width: 415px) {
  .about-me-text-container {
    font-size: 10.8px;
  }
  #projects {
    font-size: 10.8px;
  }
  #skills {
    margin-top: 1em;
  }
  h2 {
    font-size: 16px;
  }
  footer {
    font-size: 10.8px;
  }
  #skills-container {
    font-size: 0.6em;
  }
  .external {
    margin-left: 40px;
  }
  div.gallery {
    margin: 5px 0px 5px 0px;
    padding-left: 0.3em;
    /*border: 1px solid #ccc;*/
    float: center;
    width: 280px;
  }
  div.gallery img {
    width: 100%;
    height: auto;
  }
  .pop {
    transition: none !important;
    border: solid 1px #034f84;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 3), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
  }
  .pop:hover {
    -ms-transform: scale(0, 0);
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
  }
  .hidden-photo {
    display: block;
    margin-top: 2em;
  }
  .photo-container {
    display: flex;
    flex-direction: column;
    margin-top: 91%;
  }
  .portrait {
    width: 80px;
    height: 80px;
  }
  .uni-logo-hidden {
    width: 110px; 
    height: auto; 
    border:none
  }
  .uni-logo-hidden-saint-thomas {
    width: 110px; 
    height: auto; 
    border:none
  }
  .uni-logo-hidden-lobachevsky {
    width: 110px; 
    height: auto; 
    border:none
  }
  .uni-logo-hidden-udacity {
    width: 180px; 
    height: auto; 
    border:none
  }
  .portrait-hidden {
    display: none;
  }
}

@media only screen and (max-width: 413px) {
  .about-me-text-container {
    font-size: 10.5px;
  }
  #projects {
    font-size: 10.5px;
  }
  #skills {
    margin-top: 3em;
  }
  h2 {
    font-size: 16px;
  }
  footer {
    font-size: 10.5px;
  }
  #skills-container {
    font-size: 0.6em;
  }
  div.gallery {
    margin: 5px 0px 5px 0px;
    padding-left: 0.2em;
    /*border: 1px solid #ccc;*/
    float: center;
    width: 280px;
  }
  div.gallery img {
    width: 100%;
    height: auto;
  }
  .pop {
    transition: none !important;
    border: solid 1px #034f84;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 3), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
  }
  .pop:hover {
    -ms-transform: scale(0, 0);
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
  }
  .uni-logo-hidden {
    width: 110px; 
    height: auto; 
    border:none
  }
  .uni-logo-hidden-saint-thomas {
    width: 110px; 
    height: auto; 
    border:none
  }
  .uni-logo-hidden-lobachevsky {
    width: 110px; 
    height: auto; 
    border:none
  }
  .uni-logo-hidden-udacity {
    width: 180px; 
    height: auto; 
    border:none
  }
}

@media only screen and (max-width: 407px) {
  #skills-container {
    font-size: 0.5em;
  }
  .about-me-text-container {
    font-size: 10px;
  }
  #projects {
    font-size: 10px;
  }
}

@media only screen and (max-width: 394px) {
  .about-me-text-container {
    font-size: 9.5px;
  }
  #projects {
    font-size: 9.5px;
  }
  #skills {
    margin-top: 4em;
  }
  h2 {
    font-size: 16px;
  }
  footer {
    font-size: 9.5px;
  }
  #skills-container {
    font-size: 0.6em;
  }
  #skill {
    margin-top: 10em;
  }
  .external {
    margin-left: 25px;
  }
  div.gallery {
    margin: 5px 0px 5px 0px;
    padding-left: 0.4em;
    /*border: 1px solid #ccc;*/
    float: center;
    width: 280px;
  }
  div.gallery img {
    width: 100%;
    height: auto;
  }
  .pop {
    transition: none !important;
    border: solid 1px #034f84;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 3), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
  }
  .pop:hover {
    -ms-transform: scale(0, 0);
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
  }
  table {
    font-size: 5px;
  }
  .uni-logo-hidden {
    width: 100px; 
    height: auto; 
    border:none
  }
  .uni-logo-hidden-saint-thomas {
    width: 100px; 
    height: auto; 
    border:none
  }
  .uni-logo-hidden-lobachevsky {
    width: 100px; 
    height: auto; 
    border:none
  }
  .uni-logo-hidden-udacity {
    width: 180px; 
    height: auto; 
    border:none
  }
  .about-logos {
    width: 125px;
    height: 125px;
    border-radius: var(--border-radius);
    flex-shrink: 0;
  }
}

@media only screen and (max-width: 391px) {
  .about-me-text-container {
    font-size: 9.5px;
  }
  #projects {
    font-size: 9.5px;
  }
  td, th {
    border: 1px solid rgb(190,190,190);
    padding: 1px 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 3), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
  }
  #skills {
    margin-top: 2em;
  }
  h2 {
    font-size: 16px;
  }
  footer {
    font-size: 9.5px;
  }
  #skills-container {
    font-size: 0.6em;
  }
  #skill {
    margin-top: 10em;
  }
  .external {
    margin-left: 25px;
  }
  div.gallery {
    margin: 5px 0px;
    /*border: 1px solid #ccc;*/
    float: left;
    width: 280px;
    }
  .pop {
    transition: none !important;
    border: solid 1px #034f84;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 3), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
  }
  .pop:hover {
    -ms-transform: scale(0, 0);
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
  }
  .uni-logo-hidden {
    width: 100px; 
    height: auto; 
    border:none
  }
  .uni-logo-hidden-saint-thomas {
    width: 100px; 
    height: auto; 
    border:none
  }
  .uni-logo-hidden-lobachevsky {
    width: 100px; 
    height: auto; 
    border:none
  }
  .uni-logo-hidden-udacity {
    width: 180px; 
    height: auto; 
    border:none
  }
}

@media only screen and (max-width: 385px) {
  .about-me-text-container {
    font-size: 9.2px;
  }
  #projects {
    font-size: 9.2px;
  }
  #skills {
    margin-top: 1em;
  }
  .external {
    margin-left: 20px;
  }
  h2 {
    font-size: 16px;
  }
  footer {
    font-size: 9.2px;
  }
  #skills-container {
    font-size: 1em;
  }
  #logo {
    font-size: 2em;
  }
  nav {
    font-size: 8px;
    display: inline-block;
  }
  .cert-image {
    max-width: 150px;
  }
  .diploma-image {
    max-width: 150px;
  }
  .certificate-card {
    margin: 2em;
  }
  .portrait {
    width: 90px;
    height: 90px;
  }
  #skill {
    margin-top: 1em;
  }
  table {
    font-size: 6px;
  }
  div.gallery {
    margin: 5px 0px 5px 0px;
    padding-left: 0.3em;
    /*border: 1px solid #ccc;*/
    float: center;
    width: 280px;
  }
  div.gallery img {
    width: 100%;
    height: auto;
  }
  .pop {
    transition: none !important;
    border: solid 1px #034f84;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 3), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
  }
  .pop:hover {
    -ms-transform: scale(0, 0);
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
  }
  .hidden-photo {
    display: block;
    margin-top: 2em;
  }
  .photo-container {
    display: flex;
    flex-direction: column;
    margin-top: 81%;
  }
  .uni-logo-hidden {
    width: 130px; 
    height: auto; 
    border:none
  }
  .uni-logo-hidden-saint-thomas {
    width: 130px; 
    height: auto; 
    border:none
  }
  .uni-logo-hidden-lobachevsky {
    width: 130px; 
    height: auto; 
    border:none
  }
  .uni-logo-hidden-udacity {
    width: 200px; 
    height: auto; 
    border:none
  }
  .portrait-hidden {
    display: none;
  }
  .about-logos {
    width: 115px;
    height: 115px;
    border-radius: var(--border-radius);
    flex-shrink: 0;
  }
}

@media only screen and (max-width: 361px) {
  .about-me-text-container {
    font-size: 10px;
  }
  #projects {
    font-size: 10px;
  }
  h2 {
    font-size: 16px;
  }
  footer {
    font-size: 10px;
  }
  table {
    font-size: 6px;
  }
  .external {
    margin-left: 10px;
  }
  div.gallery {
    margin: 5px 0px 5px 0px;
    padding-left: 0.4em;
    /*border: 1px solid #ccc;*/
    float: center;
    width: 280px;
  }
  div.gallery img {
    width: 100%;
    height: auto;
  }
  .pop {
    transition: none !important;
    border: solid 1px #034f84;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 3), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
  }
  .pop:hover {
    -ms-transform: scale(0, 0);
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
  }
  .photo-container {
    display: flex;
    flex-direction: column;
    margin-top: 101%;
  }
  .uni-logo-hidden {
    width: 110px; 
    height: auto; 
    border:none
  }
  .uni-logo-hidden-saint-thomas {
    width: 110px; 
    height: auto; 
    border:none
  }
  .uni-logo-hidden-lobachevsky {
    width: 110px; 
    height: auto; 
    border:none
  }
  .uni-logo-hidden-udacity {
    width: 180px; 
    height: auto; 
    border:none
  }
  .portrait-hidden {
    display: none;
  }
  .about-logos {
    width: 105px;
    height: 105px;
    border-radius: var(--border-radius);
    flex-shrink: 0;
  }
}

@media only screen and (max-width: 281px) {
  #skills-container {
    font-size: 0.6em;
  }
  #logo {
    font-size: 1.5em;
  }
  nav {
    font-size: 7px;
    display: inline-block;
  }
  .portrait {
    width: 60px;
    height: 60px;
  }
  .about-me-text-container {
    font-size: 7.5px;
  }
  .about-me-text-container-home {
    margin-left: 1.5em;
  }
  #projects {
    font-size: 7.5px;
  }
  h2 {
    font-size: 16px;
  }
  footer {
    font-size: 7.5px;
  }
  table {
    font-size: 4px;
  }
  div.gallery {
    margin: 5px 0px 5px 0px;
    padding-left: 0.4em;
    /*border: 1px solid #ccc;*/
    float: center;
    width: 200px;
  }
  div.gallery img {
    width: 100%;
    height: auto;
  }
  .pop {
    transition: none !important;
    border: solid 1px #034f84;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 3), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
  }
  .pop:hover {
    -ms-transform: scale(0, 0);
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
  }
  .certificate-card-nutanix {
    width: 80%;
  }
  .photo-container-minimun {
    display: none;
    flex-direction: column;
    margin-top: 71%;
  }
  .uni-logo-hidden {
    width: 60px; 
    height: auto; 
    border:none
  }
  
  .uni-logo-hidden-saint-thomas {
    width: 50px; 
    height: auto; 
    border:none
  }
  
  .uni-logo-hidden-lobachevsky {
    width: 50px; 
    height: auto; 
    border:none
  }
  
  .uni-logo-hidden-udacity {
    width: 60px; 
    height: auto; 
    border:none
  }
}

