@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Proza+Libre:wght@700&display=swap");

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  color: var(--font-color);
  background-color: #deeaee;
}

:root {
  --spacing-1: 8px;
  --spacing-2: 12px;
  --spacing-3: 16px;
  --spacing-4: 24px;

  --border-radius: 12px;

  --font-color: #323232;
}

.heart {
  color: red;
}

h2 {
  font-family: "Proza Libre", sans-serif;
  margin: 0;
  margin-bottom: var(--spacing-2);
}

h3 {
  font-family: "Proza Libre", sans-serif;
  margin: 0;
  margin-bottom: var(--spacing-2);
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0 var(--spacing-3);
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  align-items: center;
  padding: var(--spacing-3) 0;
}

.navigation-items {
  display: flex;
  list-style-type: none;
  padding: 0;
  align-items: center;
  margin: 0;
  margin-left: auto;
}

.navigation-item {
  margin: var(--spacing-1);
}

.portrait {
  width: 300px;
  border-radius: var(--border-radius);
  flex-shrink: 0;
}

.portrait-projects {
  width: 300px;
  border-radius: var(--border-radius);
  flex-shrink: 0;
  margin-left: 30em;
}

.about-me-container {
  display: flex;
}

.about-me-text-container {
  margin-right: var(--spacing-3);
}

.project-image {
  width: 50%;
  border-radius: 5px;
  border: solid 1px #87bdd8;
}

.project-title h3 {
  display: inline;
}

details {
  cursor: pointer;
}

summary {
  list-style-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/7/right-arrow.svg);
}

section {
  padding: var(--spacing-3) 0;
}

.icon {
  font-size: 2em;
  color: var(--font-color);
  margin: 0 var(--spacing-1);
}

a {
  color: var(--font-color);
  text-decoration: none;
  font-weight: 600;
}

#logo {
  margin: 0;
}

#skills-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}

#skills-container > * {
  font-size: 2em;
  width: 2em;
  margin-top: var(--spacing-1);
}

.colored-link {
  color: #034f84;
}

.skill-image {
  width: 50px;
}

table {
  border-collapse: collapse;
  border: 2px solid #034f84;
  border-radius: 10px;
  letter-spacing: 1px;
  font-size: 1rem;
  font-family: "Proza Libre", sans-serif;
  color: #deeaee;
}

td, th {
  border: 1px solid rgb(190,190,190);
  padding: 10px 20px;
}

th {
  background-color: rgb(235,235,235);
}

td {
  text-align: center;
}

tr:nth-child(even) td {
  background-color: #034f84;
}

tr:nth-child(odd) td {
  background-color: #034f84;
}

.cert-image {
  text-align: center;
  max-width: 700px;
  max-height: 800px;
  border: solid 1px #034f84;
}

hr.divisor {
  border: 1px solid #92a8d1;
}

.projectcard {
  background-color: #92a8d1;
  border: solid 2px #034f84;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 50px;
}

.certificate-card {
  border: solid 2px white;
  background-color: #deeaee;
  margin: 3em;
  padding: 3em;
  border-radius: 5px;
}

footer {
  margin-top: auto;
  padding: var(--spacing-2) 0;
  text-align: center;
  font-weight: bold;
}

@media only screen and (max-width: 947px) {
  #skills-container {
    font-size: 0.9em;
  }
  .cert-image {
    max-width: 670px;
  }
}

@media only screen and (max-width: 905px) {
  table {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 900px) {
  .portrait {
    width: 270px;
  }
  .about-me-text-container {
    font-size: 14px;
  }
  .cert-image {
    max-width: 650px;
  }
  .certificate-card {
    margin: 2.8em;
  }
}

@media only screen and (max-width: 866px) {
  .cert-image {
    max-width: 630px;
  }
  .certificate-card {
    margin: 2.8em;
  }
}

@media only screen and (max-width: 842px) {
  .cert-image {
    max-width: 600px;
  }
}

@media only screen and (max-width: 838px) {
  #skills-container {
    font-size: 0.8em;
  }
}

@media only screen and (max-width: 829px) {
  .portrait {
    width: 250px;
  }
}

@media only screen and (max-width: 815px) {
  .cert-image {
    max-width: 550px;
  }
}

@media only screen and (max-width: 787px) {
  table {
    font-size: 0.7rem;
  }
}

@media only screen and (max-width: 760px) {
  nav {
    font-size: 13px;
  }
  #skills-container {
    font-size: 0.7em;
  }
  .portrait {
    width: 210px;
  }
  .about-me-text-container {
    font-size: 13px;
  }
  .cert-image {
    max-width: 510px;
  }
  .certificate-card {
    margin: 2em;
  }
}

@media only screen and (max-width: 726px) {
  table {
    font-size: 0.6rem;
  }
  .cert-image {
    max-width: 510px;
  }
}

@media only screen and (max-width: 690px) {
  .portrait {
    width: 200px;
  }
  .cert-image {
    max-width: 450px;
  }
}

@media only screen and (max-width: 676px) {
  nav {
    font-size: 12px;
  }
  #skills-container {
    font-size: 0.6em;
  }
  .portrait {
    width: 180px;
  }
}

@media only screen and (max-width: 667px) {
  td, th {
    border: 1px solid rgb(190,190,190);
    padding: 2px 8px;
  }
}

@media only screen and (max-width: 630px) {
  .cert-image {
    max-width: 400px;
  }
}

@media only screen and (max-width: 600px) {
  .about-me-container {
    flex-direction: column;
  }
  #skills-container {
    font-size: 0.5em;
  }
  #logo {
    font-size: 2em;
  }
  nav {
    font-size: 14px;
    display: inline-block;
  }
  .cert-image {
    max-width: 380px;
  }
}

@media only screen and (max-width: 565px) {
  td, th {
    border: 1px solid rgb(190,190,190);
    padding: 2px 5px;
  }
  .cert-image {
    max-width: 350px;
  }
  .certificate-card {
    margin: 2em;
  }
}

@media only screen and (max-width: 532px) {
  .cert-image {
    max-width: 320px;
  }
  .certificate-card {
    margin: 2em;
  }
}

@media only screen and (max-width: 516px) {
  table {
    font-size: 0.4rem;
  }
}

@media only screen and (max-width: 510px) {
  .cert-image {
    max-width: 300px;
  }
  .certificate-card {
    margin: 2em;
  }
}

@media only screen and (max-width: 498px) {
  .about-me-container {
    flex-direction: column;
  }
  #skills-container {
    font-size: 0.4em;
  }
  #logo {
    font-size: 2em;
  }
  nav {
    font-size: 12px;
    display: inline-block;
  }
}

@media only screen and (max-width: 479px) {
  .cert-image {
    max-width: 280px;
  }
  .certificate-card {
    margin: 2em;
  }
}

@media only screen and (max-width: 460px) {
  .about-me-container {
    flex-direction: column;
  }
  #skills-container {
    font-size: 0.4em;
  }
  #logo {
    font-size: 2.5em;
  }
  nav {
    font-size: 10px;
    display: inline-block;
  }
  .cert-image {
    max-width: 250px;
  }
  .certificate-card {
    margin: 2em;
  }
}

@media only screen and (max-width: 430px) {
  .cert-image {
    max-width: 200px;
  }
  .certificate-card {
    margin: 2em;
  }
}

@media only screen and (max-width: 407px) {
  .about-me-container {
    flex-direction: column;
  }
  #skills-container {
    font-size: 0.5em;
  }
}

@media only screen and (max-width: 385px) {
  .about-me-container {
    flex-direction: column;
  }
  #skills-container {
    font-size: 0.5em;
  }
  #logo {
    font-size: 2em;
  }
  nav {
    font-size: 8px;
    display: inline-block;
  }
  .cert-image {
    max-width: 150px;
  }
  .certificate-card {
    margin: 2em;
  }
}

@media only screen and (max-width: 280px) {
  .about-me-container {
    flex-direction: column;
  }
  #skills-container {
    font-size: 0.5em;
  }
  #logo {
    font-size: 1.5em;
  }
  nav {
    font-size: 7px;
    display: inline-block;
  }
}
